#footer {
    justify-content: center;
    display: flex;
}
footer {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-flex;
    border-top: 2px solid rgb(131, 131, 131); 
    border-bottom: 2px solid rgb(131, 131, 131);
    align-items: center;
}
footer h3 {
    margin: 0;
    margin-right: 10px;
    color: rgb(102, 102, 102);
}
footer i {
    margin-left: 10px;
    margin-right: 10px;
}